Flask==1.0.2
Flask-Cors==3.0.7
Flask-Jsonpify==1.5.0
Flask-RESTful==0.3.7
Flask-WTF==0.14.2
gunicorn==19.9.0
gym==0.14.0
h5py==2.8.0
heapdict==1.0.0
html5lib==1.0.1
httplib2==0.13.1
hyperlink==18.0.0
idna==2.8
imageio==2.4.1
imagesize==1.1.0
importlib-metadata==0.6
imutils==0.5.2
incremental==17.5.0
intervaltree==3.0.2
numpy==1.17.1
numpydoc==0.8.0
oauth2client==4.1.3
olefile==0.46
packaging==18.0
pandas==0.23.3
pandocfilters==1.4.2
parsel==1.5.1
parso==0.3.1
partd==0.3.9
path.py==11.5.0
pathlib2==2.3.3
patsy==0.5.1
pbr==5.1.3
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==9.0.0
pkginfo==1.4.2
pluggy==0.8.0
ply==3.11
prometheus-client==0.5.0
promise==2.2.1
prompt-toolkit==2.0.7
protobuf==3.7.1
psutil==5.4.8
pyOpenSSL==18.0.0
pyparsing==2.3.0
pypng==0.0.20
PySocks==1.6.8
pytest==4.0.2
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.2.0
pytest-openfiles==0.3.1
pytest-remotedata==0.3.1
pytest-runner==4.4
python-crontab==2.3.6
python-dateutil==2.7.5
python-Levenshtein==0.12.0
python-utils==2.3.0
pytz==2018.7
PyYAML==3.13
pyzmq==17.1.2
QtAwesome==0.5.3
qtconsole==4.4.3
queuelib==1.5.0
requests==2.21.0
requests-file==1.4.3
requests-toolbelt==0.9.1
resampy==0.2.2
rope==0.11.0
rsa==4.0
ruamel-yaml==0.15.46
s3transfer==0.2.0
scikit-image==0.14.1
scikit-learn==0.21.3
scipy==1.3.1
Scrapy==1.5.2
seaborn==0.9.0
SecretStorage==3.1.0
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
sk-video==1.1.10
sky==0.0.201
snowballstemmer==1.2.1
sonnet==0.1.6
sortedcollections==1.0.1
sortedcontainers==2.1.0
SoundFile==0.10.2
sox==1.3.7
statsmodels==0.9.0
sympy==1.3
tables==3.4.4
tblib==1.3.2
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
tldextract==2.2.1
toml==0.10.0
toolz==0.9.0
tornado==4.5.3
tox==3.7.0
tqdm==4.28.1
traitlets==4.3.2
twine==1.13.0
Twisted==18.9.0
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.24.1
utils==0.9.0
virtualenv==16.4.3
w3lib==1.20.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wrapt==1.10.11
WTForms==2.2.1
wurlitzer==1.0.2
xlrd==1.2.0
XlsxWriter==1.1.2
xlwt==1.3.0
yarl==1.3.0
zict==0.1.3
zope.interface==4.6.0